html {
  box-sizing: border-box;
  font-family: "Open-Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}
.banner {
  position: relative;
  max-height: 500px;
}

.content {
  display: flex;
  position: absolute;
  z-index: 1000;
  max-width: 50em;
}

h2 {
  font-size: 4rem;
  color: fff;
  background-color: rgba(0,0,0,.5)
}

p {
  font-size: 2rem;
}
